@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Marcellus&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-dark: #15240D;
  --color-brand-light: #60795A;
  --color-brand-accent: #2B5219;
  --color-brand-bg: #FAF8F2;
  --color-brand-outer-bg: #EAEBE5;
  --color-brand-text: #2D3330;
  --font-heading: "Marcellus", serif;
  --font-body: 'Inter', sans-serif;
}

body {
  background-color: var(--color-brand-outer-bg);
  color: var(--color-brand-text);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
